<div align="center">
    <h2>New Account</h2>

    <br />

    <form id="new_account" onsubmit="return false;">
        <table>
            <tr>
                <td>name</td>
                <td><input class="account" name="account[name]" type="text" /></td>
            </tr>                        
            <tr>
                <td>account:</td>
                <td><input class="account" name="account[email]" type="text" /></td>
            </tr>
            <tr>
                <td>password:</td>
                <td><input class="account" name="account[password]" type="password" /></td>
            </tr>                    
        </table>
        <a href="/account/login">back</a>
        <input type="submit" value="create" />

    </form>
</div>