<table id="typing_report">
    <tr>
        <td>単語</td>
        <td id="typing_word">{{message}}</td>
    </tr>
    <tr>
        <td>練習回数</td>
        <td id="typing_quantity"></td>
    </tr>
    <tr>
        <td></td>
        <td></td>
    </tr>    
    <tr>
        <td>経過時間:</td>
        <td id="time"></td>
    </tr>
    <tr>
        <td>総打鍵数:</td>
        <td id="sum_typing_count"></td>
    </tr>
    <tr>
        <td>入力ミス:</td>
        <td id="typing_failure"></td>
    </tr>
    <tr>
        <td>正解率:</td>
        <td id="typing_rate"></td>
    </tr>
    <tr>
        <td>速度:</td>
        <td id="typing_speed"></td>
    </tr>    
</table>