// Example Stylus file
//
// Stylus docs:  http://learnboost.github.com/stylus/docs/js.html
// Nib docs:     http://visionmedia.github.com/nib

@import 'nib'

body
  background-color ffffff
  background-repeat no-repeat
  background-size cover
  font-size 12px

header
  padding-top 2px
  padding-bottom 10px
  padding-left 20px
  border-bottom 1px solid darkgrey
  margin-bottom 20px
  
  background-color #eeeeee
  color #ffffff
  text-shadow 0.05em 0.05em 0.15em rgba(0, 0, 0, 1)
  font-size 30px

  a
    color darkgrey
    font-weight bold
    font-size 1em
    margin 0px 10px
    text-decoration none
  a:hover
    color white

#admin_content
  display -webkit-box

#account_login
     -webkit-box-ordinal-group 2
     background-color white
     
     width 180px

     padding: 10px 10px
     border black 1px solid
     h2
       color black     

     table
       tr
         td
           width: 7em
           color: black

#account_description
  -webkit-box-ordinal-group 1
  width 530px
  padding-left 20px
  padding-right 20px
  font-size 1em

  h1
    font-size 1.4em
    font-weight bold
　h2
    font-size 1.1em
    font-weight bold 

.shortcat_key
  text-decoration underline