<form>
    <div align="center">
        <table>
            <tr>
                <td>ユーザー名:</td>
            </tr>
            <tr>
                <td><input  name="account[email]" type="text" size="20"/></td>
            </tr>
            <tr>
                <td>パスワード:</td>
            </tr>
            <tr>
                <td><input name="account[password]" type="password" /></td>
            </tr>
            <tr>
                <td><input type="submit" value="ログイン" /></td>
            </tr>
        </table>
    </div>
</form>
